body{
background-color:  rgba(0, 0, 15, .8);
opacity: 0.75;
background-image: url(hands.webp);
}
.first{
    color: rgb(22, 22, 21);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}
.construction{
    color: rgb(255, 69, 0);
    font-weight: 700;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: auto;

}

img{
    width: 100%;
    height: 400px;
    margin:auto;
}
header img{
    width: 40%;
    height:155px;
    margin:auto;
    padding: 10px 0px;
}
header{
    background-attachment: scroll;
    display: flex;
    height:175px;
    width:100%;

  
}
.hleft{
  justify-content: flex-end;
  align-content: flex-start;
  padding-left: 25px;
  height: 130px;
  width: 700px;
}
.hleft img{
  height: 149px;
  width :auto;
}

.header-tags a{
 padding-left:35px;
 justify-content: space-evenly;
 flex-wrap: nowrap;
 color: rgb(140, 245, 3);
}
a{
    color: blue;

    
}
.second{
    padding-bottom:25px;
    color: navajowhite;
    font-family: Arial, Helvetica, sans-serif;
}

